*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

.input {
  background: url(./assets/Icon.svg) no-repeat 95% center;
}
